textarea.sizechg {
width:90%;
}
input.sizechg{
	height:20px;
}
.h100 {	height: 100%;}.hh100{	height: 100vh;}.h-3r{height: 3rem;}
.mh40{min-height: 40px;}
.pd0{padding: 0px;}
.pdr0{ padding-right: 0px;}.pdr-20{padding-right: 20px;}
.w100{ width: 100%;}
.scroll{overflow: auto;}.scroll-x{overflow-x: auto;}.scroll-y{overflow-y: auto;}
.lh-3r{line-height: 3rem;}
.col-pad{padding-left: 15px;padding-right: 15px;}



.mgset{
width:45%;
height:170px;
float:left;
border:1px solid;
margin:10px 15px 10px 0px;
padding-left:20px;
}
.btn.btn-right-match {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
}
.btn.btn-left-match {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
}
textarea.no-resize{
	 resize: none;
}
.mgset.extend{width:93.5%;height: 400px;}
.mgset.extend textarea.sizechg {
width:43%;
}
.ht200{height: 200px;}

/* <div class="htfix"></div>*/
setheight, .htfix{height:0;clear:both;line-height:0;display: :block;width: 100%;}
.fl{float:left;}.fr{float: right;}
.no-flex{flex: none;}
.clr{clear:both;}
.errormsg{
	display: none;
}

.pagi-footer{
	height: 2.2rem;
}
.pagi-num{
	width: 30px;
	padding: 1px 5px;
}
.action-toggle .modify-show{
		display: none;
}
.action-toggle .modify-hide {
		display: inline-block;;
}
.action-toggle.action-modify .modify-show {
		display: inline-block;;
}
.action-toggle.action-modify .modify-hide{
		display: none;
}

#main-header {
		line-height: 70px;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}
.mgOpe{
  width:69%;
  border-right: 1px solid;
  padding-left:5px;
  height: 700px;
  overflow: auto;
  border: 1px solid;
}
.scrollview{
	  overflow: auto;
}
.lgs{width:30%;text-align: center;}
.lgs .headResp{border-bottom: 1px solid;}
.lgs .resp{text-align: left;padding-left:5px;}

.flex-container-vertical{
  display: flex;
  flex-direction: column;
}
.flex-container-horizontal{
  display: flex;
  flex-direction: row;
}
.flex-item{
  flex: 1 1 auto;
}
.flex-sub-container-vertical{
  display: flex;
  flex-direction: column;
}
.flex-sub-container-horizontal{
  display: flex;
  flex-direction: row;
}
.flex-sub-container-vertical .flex-sub-item,.flex-sub-container-horizontal .flex-sub-item{
  flex: 1 1 auto;
}
.cursor {
	cursor: pointer;
}

.big{
	font-size: 24px;
}
#colList{width: 34%;height: 30px;}
.lft-aln.fl{width:150px;}
#findQuery .selectables .defwd{
  margin:0 10px;
}
.defwd .fieldSel  {
    height: 36px;
    min-width: 160px;
}
.lh30{
  line-height: 30px;
  min-width:100px;
}
#findQuery .result table td{
  border : 1px solid;
}

.nav-item.use-db.active .nav-link{
	font-weight: bold;
}

.select-DB{
	width: 300px;
}


.icon-td-def{
	 width: 70px;
}
.icon-td-def i{
		float: left;
		padding: 0 4px;
}
.json-display .def-pad-text{
	padding: 5px;
}
.json-display .json-text{
		min-height: 150px;
		width: 100%;
}
